$theme0: #0f2721;
$theme1: #0e4736;
$theme2: #860130;
$theme3: #9F053B;
$theme3p5: #A80941;
$theme4: #B40F49;
$theme4p5: #C01B55;
$theme5: #de2a60;
$theme6: #EF3F7D;
$theme7: #FB78A6;
$theme8: #FFBBD3;
$theme9: #ffdce9;
$theme10: #ffebf3;

$themeGray0: #fafafa;
$themeGray0p5: #f1f1f1;
$themeGray1: #e7e7e7;
$themeGray2: #dcdcdc;
$themeGray3: #cbcbcb;
$themeGray4: #b0b0b0;
$themeGray3p5: #bababa;
$themeGray5: #a6a6a6;
$themeGray6: #9a9a9a;
$themeGray7: #8e8e8e;
$themeGray8: #7e7e7e;

$themeDark1: #484e54;
$themeDark2: #383f45;
$themeDark3: #262d30;
$themeDark4: #1a201f;
$themeDark5: #0a0e0c;

$themeRed: #8a3c53; //todo
$themeRed0p5: #441926;
$themeRed1: #622136;
$themeRed2: #5a2f3c;
$themeRed4: #fdd4d4;

$themeBlue0: #090f14;
$themeBlue0p5: #0b1116;
$themeBlue1: #0e1a27;

$cardTextColorLight: #222; //todo
$themeBlue: #009fff; //todo big i comicList

$themeWarning: #ffeccc;
$themeWarningBorder: #d69222;
$themeWarningDark: #fcdca7;
$themeWarningDarkBorder: #bd7500;
$themeInfo: #def3ff;
$themeInfoBorder: #0090de;

$comicCardDark: #161a1d;
