$theme0: #0f2721;
$theme1: #49081e;
$theme2: #860130;
$theme3: #9F053B;
$theme3p5: #A80941;
$theme4: #B40F49;
$theme4p5: #C01B55;
$theme5: #de2a60;
$theme6: #EF3F7D;
$theme7: #FB78A6;
$theme8: #FFBBD3;
$theme9: #ffdce9;
$theme10: #ffebf3;

$themeGray0: #fafafa;
$themeGray0p5: #f1f1f1;
$themeGray1: #ececec;
$themeGray2: #dcdcdc;
$themeGray3: #cbcbcb;
$themeGray4: #b0b0b0;
$themeGray3p5: #bababa;
$themeGray5: #a6a6a6;
$themeGray6: #9a9a9a;
$themeGray7: #8e8e8e;
$themeGray8: #7e7e7e;

$themeDark1: #484e54;
$themeDark2: #383f45;
$themeDark3: #262d30;
$themeDark4: #1a201f;
$themeDark5: #0a0e0c;

$filterPaginationLightMain: white;
$filterPaginationLightHover: rgba(200,200,200,0.2);
$filterPaginationDarkMain: rgba(255, 255, 255, 0.25);
$filterPaginationDarkHover: rgba(255, 255, 255, 0.4);

$themeRed: #8a3c53;
$themeRed0p5: #441926;
$themeRed1: #622136;
$themeRed2: #5a2f3c;
$themeRed4: #fdd4d4;
$themeRedText: #ce1b1b;

$themeBlue0: #090f14;
$themeBlue0p5: #0b1116;
$themeBlue1: #0e1a27;

$cardTextColorLight: #222; //todo
$themeBlue: #009fff; //todo big i comicList

$themeWarning: #ffeccc;
$themeWarningBorder: #d69222;
$themeWarningDark: #fcdca7;
$themeWarningDarkBorder: #bd7500;
$themeInfo: #def3ff;
$themeInfoBorder: #0090de;

$themeGreen1: #9aebe7;
$themeGreenMid: #cff1fb;
$themeGreen2: #adfee0;

$themeGreen1Dark: #49ded7;
$themeGreen2Dark: #5df1ba;
$themeGreen1Darker: #3ec5be;
$themeGreen2Darker: #4edba7;
$themeGreen1Disabled: transparent;
$themeGreen2Disabled: transparent;

$themeMid1: #bdeff4;
$themeMid2: #c1f6f0;
$themeBlue: #cff1fb;
$themeBlueLight: #47c2ff;
$themeBlueDark: #3BBEFF;
$themeText: #0D0F35;

// $themeGreen2: #f9a2e1;
// $themeGreen1: #de2a60;
// $themeBlue: #de2a60;
// $themeBlueDark: #de2a60;
// $themeText: #0D0F35;

$comicCardDark: #3f4346;
