$theme0: #0f2721;
$theme1: #0e4736;
$theme2: #006d4d;
$theme3: #00855e;
$theme3p5: #008f65;
$theme4: #00986b;
$theme4p5: #00ab79;
$theme5: #00d596;
$theme6: #78fdd6;
$theme7: #a9ffe6;
$theme8: #dbfff4;

$themeGray0: #fafafa;
$themeGray0p5: #f1f1f1;
$themeGray1: #e7e7e7;
$themeGray2: #dcdcdc;
$themeGray3: #cbcbcb;
$themeGray4: #b0b0b0;
$themeGray3p5: #bababa;
$themeGray5: #a6a6a6;
$themeGray6: #9a9a9a;
$themeGray7: #8e8e8e;
$themeGray8: #7e7e7e;

$themeDark1: #484e54;
$themeDark2: #383f45;
$themeDark3: #262d30;
$themeDark4: #1a201f;
$themeDark5: #0a0e0c;

$themeRed: #ec2f4b; //todo
$themeRed0: #6b090b;
$themeRed0p5: #8f0407;
$themeRed1: #a90509;
$themeRed2: #c80005;
$themeRed3: #fd8f91;

$themeBlue0: #090f14;
$themeBlue0p5: #0b1116;
$themeBlue1: #0e1a27;

$cardTextColorLight: #222; //todo
$themeBlue: #009fff; //todo big i comicList

$themeWarning: #ffeccc;
$themeWarningBorder: #d69222;
$themeWarningDark: #fcdca7;
$themeWarningDarkBorder: #bd7500;
$themeInfo: #def3ff;
$themeInfoBorder: #0090de;