router-link, p, td, li {
  font-weight: 300;
}

h1, h2, h3, h4, p, div {
  color: #111;
  margin: 0;
}

h3 {
  font-size: 1.4rem;
  font-weight: 400;
}

p, li, label, td, th, a {
  @media (max-width: 900px) {
    font-size: 14px;
    word-break: break-word;
  }
}

h1 {
  font-weight: 300;
  font-size: 46px;
  margin-top: 24px;
  @media (max-width: 900px) {
    margin-top: 12px;
    font-size: 32px;
    &.yifferTitle {
      font-size: 42px;
    }
  }
}

ul {
  margin: 0;
  padding: 0 0 0 10px;
  list-style-type: none;
  li {
    text-indent: -5px;
    margin-top: 6px;
    &:before {
      content: "-";
      text-indent: -5px;
    }
  }
}

.textAlignCenter {
  text-align: center;
}

.spaced-list {
  li {
    margin-top: 1rem;
  }
}

.textLeft {
  text-align: left;
}

.full-width-text {
  width: fit-content;  
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;

  @media (max-width: 900px) {
    max-width: 95%;
  }

  &>p {
    margin-top: 16px;
  }
}

.full-width-text-wider {
  max-width: 1000px;
  @media (max-width: 1200px) {
    max-width: 800px;
  }
  @media (max-width: 900px) {
    max-width: 95%;
  }
}

.smaller-width-text {
  width: fit-content;
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  display: flex;
  flex-direction: column;

  @media (max-width: 650px) {
    max-width: 90%;
  }
}

.center-on-mobile {
  @media (max-width: 900px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center !important;
  }
}

.yifferTitle {
  font-size: 70px;
  font-family: 'Shrikhand', cursive;
  margin-bottom: -10px;
  margin-top: 24px;
}

h2 {
  font-weight: 300;
  font-size: 30px;
}

a {
  color: $theme4;
  width: fit-content;
}

.underline-link {
  padding-bottom: 2px;
  width: fit-content;
  height: fit-content;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .2s;
  &:hover, &:focus {
    text-decoration: none;
    background-size: 100% 2px;
    cursor: pointer;
  }
}

label {
  font-weight: 300;
}

.smaller-text {
  font-size: 12px;
}

.link-color {
  color: $theme4 !important;
}

.link-color-light {
  color: $theme5 !important;
}

.red-color {
  color: $themeRed2 !important;
}

.semiBold {
  font-weight: 400;
}
.bold {
  font-weight: 600;
}

.courier {
  font-family: 'Andale Mono', monospace;
  font-size: 13px;
}
.mono {
  font-family: 'Andale Mono', monospace;
  padding: 1px 3px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  width: fit-content;
}
.monoSuccess {
  @extend .mono;
  background-color: $theme8;
  border-color: $theme4;
}
.monoInfo {
  @extend .mono;
  background-color: $themeInfo;
  border-color: $themeInfoBorder;
}
.monoWarning {
  @extend .mono;
  background-color: $themeWarning;
  border-color: $themeWarningBorder;
}
.monoError {
  @extend .mono;
  background-color: $themeRed4;
  border-color: $themeRed;
}

.modal-header {
  font-size: 28px;
  font-weight: 400;

  @media (max-width: 900px) {
    font-size: 25px;
  }
}

.whole-body-text-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.icons-and-numbers-row {
  span {
    margin-right: 4px;

    @media (max-width: 900px) {
      margin-right: 0px;
    }
  }
  @media (max-width: 900px) {
    p {
      display: flex;
      flex-direction: column;
    }
  }
}

.comic-card-small-numbers {
  display: flex;
  flex-direction: column;
}

.dark {
  .link-color, a, .theme-button, .navigation-button {
    color: $theme5 !important;
  }
  .mono {
    color: black;
  }
  .monoSuccess {
    @extend .mono;
    background-color: $theme7;
    border-color: $theme3;
  }
  .monoInfo {
    @extend .mono;
    background-color: $themeInfo;
    border-color: $themeInfoBorder;
  }
  .monoWarning {
    @extend .mono;
    background-color: $themeWarningDark;
    border-color: $themeWarningDarkBorder;
  }
}
