router-link, p, td, li {
	font-weight: 300;
}

h1, h2, h3, h4, p, div {
	color: #111;
	margin: 0;
}

p, li, label {
	@media (max-width: 900px) {
		font-size: 14px;
	}
}

h1 {
	font-weight: 300;
	font-size: 46px;
	margin-top: 24px;
	@media (max-width: 900px) {
		margin-top: 12px;
		font-size: 32px;
		&.yifferTitle {
			font-size: 42px;
		}
	}
}

.yifferTitle {
	font-size: 70px;
}

h2 {
	font-weight: 300;
	font-size: 30px;
}

a {
	color: $theme4;
}

.underline-link {
	padding-bottom: 2px;
	width: fit-content;
	height: fit-content;
	background-image: linear-gradient(currentColor, currentColor);
	background-position: 50% 100%;
	background-repeat: no-repeat;
	background-size: 0% 2px;
	transition: background-size .2s;
	&:hover, &:focus {
		text-decoration: none;
		background-size: 100% 2px;
		cursor: pointer;
	}
}

label {
	font-weight: 300;
}

.link-color {
	color: $theme4 !important;
}

.link-color-light {
	color: $theme5 !important;
}

.red-color {
	color: $themeRed2 !important;
}

.success-message {
	color: #20ad0a !important;
	font-weight: 400;
	margin-bottom: 0px !important;
}

.error-message {
	color: $themeRed2 !important;
	font-weight: 400;
	margin-bottom: 0px !important;
}

.courier {
	font-family: 'Courier New', Courier, monospace;
	font-size: 13px;
}

.modal-header {
	font-size: 28px;
	font-weight: 400;

	@media (max-width: 900px) {
		font-size: 25px;
	}
}

.whole-body-text {
	width: 70%;
	margin: auto;
	text-align: left;
	margin-bottom: 32px;

	@media (max-width: 900px) {
		width: 90%;
	}

	p {
		margin-top: 16px;
	}
}

.whole-body-text-centered {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.icons-and-numbers-row {
	span {
		margin-right: 4px;

		@media (max-width: 900px) {
			margin-right: 0px;
		}
	}

}

.dark {
	.link-color, a, .theme-button, .navigation-button {
		color: $theme5 !important;
	}
}
