@import "colors.scss";
@import "button-styles.scss";
@import "text-styles.scss";
@import "shadows.scss";

#app {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	text-align: center;
	@media (max-width: 900px) {
		margin-top: 20px;
  }
}

body {
	margin: 0px;
}

textarea {
	font-family: 'Open Sans', sans-serif;
}

::selection {
	background: rgba(120, 253, 214, 0.5);
}

body {
	background-color: #fafafa;
}

.dark {
	background-color: #090f14;
	p, h1, h2, div, td, h3 {
		color: #eee;
	}

	::selection {
		background: rgba(120, 253, 214, 0.7);
	}
}

option, select, input {
	font-family: 'Open Sans', sans-serif;
}

select {
	padding: 1px;
}

.vertical-flex {
	display: flex;
	flex-direction: column;
}

.cursor-pointer {
	&:hover {
		cursor: pointer;
	}
}

.no-margin-bot {
	p, select, button {
		margin-bottom: 0 !important;
	}
	margin-bottom: 0 !important;
}

.no-margin-top {
	margin-top: 0 !important;
}
.margin-top-4 {
	margin-top: 4px;
}
.margin-top-8 {
	margin-top: 8px;
}
.margin-top-10 {
	margin-top: 10px;
}
.margin-top-16 {
	margin-top: 16px;
}
.margin-top-32 {
	margin-top: 32px;
}
.margin-bottom-4 {
	margin-bottom: 4px;
}
.margin-bottom-8 {
	margin-bottom: 8px;
}
.margin-bottom-10 {
	margin-bottom: 10px;
}
.margin-bottom-16 {
	margin-bottom: 16px;
}

.y-table {
  border-collapse: collapse;
  td, th {
    border: 1px solid #aaa; //todo
  }
  th {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding: 8px 5px;
  }
  td {
    padding: 5px;
  }
	tr {
		&:hover {
			background: rgba(0, 0, 0, 0.05);
		}
	}
}

.admin-mini-header {
  font-weight: 400;
  margin-bottom: 6px;
}

.selected-add-keyword {
  &:hover {
    cursor: pointer;
    text-decoration: line-through;
    color: $themeRed;
  }
  font-size: 14px;
}

.keyword-to-be-deleted {
  color: $themeRed !important;
  text-decoration: line-through;
}

.comic-card-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
}

.keyword, .keyword-static {
	font-size: 12px;
	border: 0.5px solid #ccc; //todo
	margin: 1.5px 3px;
	padding: 0.5px 6px 1px 6px;
	border-radius: 10px;
	font-weight: 300;
}
.keyword {
	@include simpleshadowSmall;
	border: none;
}
.keyword-filtered {
	border: 0.5px solid $theme4;
}
.keyword:hover {
	color: $theme4 !important;
	cursor: pointer;
	border-color: $theme4;
}
.keyword-static:hover {
	cursor: default;
}

.simple-shadow {
	@include simpleshadow;
}
.simple-shadow-small {
	@include simpleshadowSmall;
}

.dark {
	.y-table {
		tr {
			&:hover {
				background: rgba(240, 255, 255, 0.1);
			}
		}
	}

	input, textarea {
		background: rgb(22, 26, 29);
		border: 1px solid #666;
		color: white;
	}

	option, select {
		background: rgb(22, 26, 29);
		color: white;
		border: 1px solid #666;
	}

	.admin-content-box {
		border-color: $themeGray7;
		&:hover {
			background-color: $themeDark4	
		}
	}
	.admin-content-box-open {
		background-color: $themeDark4;
	}

	.keyword, .keyword-static {
		border-color: #555; //todo
		color: #ddd;
	}
}